doctype html
html
  head
    link(rel="icon" type="image/png" href="images/favicon.png")
    block title
      title #{title}
  body
    #app
      h5 test text from default.pug
      block app



doctype html
html(lang="en" dir="ltr")

  //- HEAD
  head

    //- TITLE AND META TAGS
    block title
      title Yahia Refaiea [Beta]
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block meta
      meta(name="description" content="I’m a 21 years old handsome guy who grows up in a small town in Syria.")
      meta(name="author" content="Yahia Refaiea")
      meta(property="og:url" content="http://beta.yahiarefaiea.com/")
      meta(property="og:image" content="http://beta.yahiarefaiea.com/includes/images/opengraph.png")

    //- INCLUDES
    link(rel="icon" type="image/png" href="includes/images/favicon.png")
    link(rel="stylesheet" href="includes/stylesheets/yahiarefaiea.lite.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.3/mobile-detect.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js")
    script(src="includes/javascripts/yahiarefaiea.lite.js")

  //- BODY
  body

    include ../mixins/fields

    //- CONTENT
    block content

    img(src="includes/images/identity.png" style="display: none" title="Yahia Refaiea identity" alt="Yahia Refaiea identity")



doctype html
html
  head
    title #{title}
  body
    #app
      //- templates
      //- include book/index
    script(src='public/bundle.js')



<html>
  <head>

    <title>ARc - Atomic React</title>
    <meta charset="UTF-8">
    <meta name="description" content="React starter kit based on Atomic Design with React Router, Webpack, Redux, Server Side Rendering and more">
    <meta property="og:site_name" content="ARc">
    <meta property="og:image" content="https://arc.js.org/thumbnail.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://arc.js.org/icon.png" />

    <meta charset='UTF-8'>
    <link rel='stylesheet' type='text/css' href='global.build.css'>
  </head>
  <body>
    <h1>Hello World</h1>
    <!-- <script src='dist/vendors.js'></script> -->
    <script src='global.build.js'></script>
  </body>
</html>




doctype html
html(lang="en" dir="ltr")

  //- HEAD
  head

    //- <title>ARc - Atomic React</title>
    //- <meta charset="UTF-8">
    //- <meta name="description" content="React starter kit based on Atomic Design with React Router, Webpack, Redux, Server Side Rendering and more">
    //- <meta property="og:site_name" content="ARc">
    //- <meta property="og:image" content="https://arc.js.org/thumbnail.png">
    //- <meta property="og:image:type" content="image/png">
    //- <meta property="og:image:width" content="1200">
    //- <meta property="og:image:height" content="630">
    //- <meta name="viewport" content="width=device-width, initial-scale=1.0">
    //- <link rel="icon" href="https://arc.js.org/icon.png" />
    //-
    //- <meta charset='UTF-8'>
    //- <link rel='stylesheet' type='text/css' href='global.build.css'>

    //- TITLE AND META TAGS
    block title
      title Yahia Refaiea [Beta]
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    block meta
      meta(name="description" content="I’m a 21 years old handsome guy who grows up in a small town in Syria.")
      meta(name="author" content="Yahia Refaiea")
      //- meta(property="og:url" content="http://beta.yahiarefaiea.com/")
      //- meta(property="og:image" content="http://beta.yahiarefaiea.com/includes/images/opengraph.png")

    //- INCLUDES
    //- link(rel="icon" type="image/png" href="includes/images/favicon.png")
    //- link(rel="stylesheet" href="includes/stylesheets/yahiarefaiea.lite.css")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.3/mobile-detect.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r72/three.min.js")
    //- script(src="includes/javascripts/yahiarefaiea.lite.js")

  //- BODY
  body

    //- include ../mixins/fields
    h1 some text

    //- CONTENT
    //- block content

    //- img(src="includes/images/identity.png" style="display: none" title="Yahia Refaiea identity" alt="Yahia Refaiea identity")



//- import pkg from 'package.json'
//-
//- extends components/templates/default
//-
//- block title
//-   title= pkg.title
//-
//- block content
//-   .wrapper
//-
//-     canvas#stars
//-     canvas#yahia
//-
//-     //- CSSDA BADGE
//-     include ../includes/cssda-badge
//-
//-     //- CONTAINER
//-     .container
//-
//-       //- TEMPLATES
//-       include ../templates/home
//-       include ../templates/secret
//-       include ../templates/opinion
//-       include ../templates/bucket
//-       include ../templates/bucketAll
//-       include ../templates/notFound
//-
//-       //- IDENTITY
//-       include ../includes/identity
//-
//-       //- SIGNATURE
//-       include ../includes/signature
