// fix kuoto-swiss & auto prefixer
// @import "kouto-swiss"


color = {
  background: blue
}

body
  background: color.background

h1
  font-weight: 200
  text-align: center
  transform: rotate(-20deg)
