@import 'kouto-swiss'

color = {
  background: blue
}

body
  background: color.background

h1
  text-align: center
  font-weight: 200
  transition: 1s ease-out
  transition: 1s ease-out

#box
  margin: rem(200px 0 0 200px)
  width: rem(100px)
  height: rem(100px)
  transform: rotate(-90deg)
  background-color: red
